<h2>Installation guide</h2>

<p>You want to switch between flavors or coming from DivestOS?</p>
Please read this first: <a href="{{ printf "%s" .docbaseurl }}/Flavors" target="_blank">All about AXP.OS flavors</a>
<p>If you miss a flavor you can request it <a href="https://code.binbash.rocks/AXP.OS-public/issue-tracker/issues/new?template=.github%2fISSUE_TEMPLATE%2fsupport-new-device-request.yaml" target="_blank">here</a>.</p>

<h3>Known issues</h3>

<ul>
  <li>General <a href="{{ printf "%s" .docbaseurl }}/Known-Issues" target="_blank">Known Issues</a>
    {{ if .kilink }}
    <ul>
        <li>Specific for <a href="{{ printf "%s" .docbaseurl }}/Known-Issues#{{ printf "%s" .kilink }}" target="_blank">{{ .codename }}</a></li>
    </ul>
    {{ end }}
  </li>
  <li>Issue tracker <a href="https://code.binbash.rocks/AXP.OS-public/issue-tracker/issues?type=all&state=closed&labels=36" target="_blank">won't fix</a></li>
</ul>

<h3>Firmware</h3>

{{- if eq .firmware "included" -}}
<p>AXP.OS for the <i>{{ .devicename }}</i> includes the latest available bootloader and modem firmware so there is no need to do anything but flashing AXP.OS - at least if you carefully follow the Install guide in the next topic.</p>
{{ else }}
<p>AXP.OS for the <i>{{ .devicename }}</i> does <b>not</b> include any firmware so you need to ensure having the correct one <b>manually</b>. Skipping this step might result in unexpected behavior and problems later on.</p>

<p>For this follow the <a href="{{ printf "%s" .docbaseurl }}/Firmware" target="_blank">firmware guide</a> (this step needs to be done only once).</p>
{{ end }}

<h3>Install / Upgrade</h3>

{{- if eq .custominstall "yes" -}}
    {{ $guide := printf "content/devices/custom_%s.guide" .codename }}
    {{ if fileExists $guide }}
        {{ $markdown := readFile $guide | markdownify }}
        {{ $markdown }}
    {{- else -}}
    <p>Install guide missing! Please contact <a href="{{ printf "%s" .docbaseurl }}#support" target="_blank">support</a>.</p>
    {{- end -}}
{{- end -}}

{{- if eq .ispixel "yes" -}}
<p><a href="{{ printf "%s" .docbaseurl }}/Installation-on-Pixel-devices" target="_blank">Install (Pixel devices)</a></p>
{{- else if eq .isab "yes" -}}
<p><a href="{{ printf "%s" .docbaseurl }}/Installation-on-A%E2%80%90B-devices" target="_blank">Install (A/B)</a></p>
{{- else -}}
<p><a href="{{ printf "%s" .docbaseurl }}/Installation-on-Non-A%E2%80%90B-devices" target="_blank">Install (non A/B)</a></p>
{{- end -}}

<h3>Setup AXP.OS</h3>

<p>Follow <a href="{{ printf "%s" .docbaseurl }}/Setup" target="_blank">Setup</a></p>

<h3>Re-locking the bootloader</h3>

{{- if eq .relock "yes" -}}
<p>Supported: <strong>yes</strong></p>
<p>Follow <a href="{{ printf "%s" .docbaseurl }}/Bootloader-Lock" target="_blank">Bootloader-Lock</a> to lock your device.</p>

<h4>Fingerprint information</h4>

<p>On boot you will see a fingerprint or "ID" which ensures the AVB signing key used is trusted.</p>
<p>Some devices print a <a href="https://source.android.com/docs/security/features/verifiedboot/boot-flow#locked-devices-with-custom-root-of-trust" target="_blank">minimal ID of 8 chars</a>, while others print the whole digest. For more details and example pictures see <a href="https://source.android.com/docs/security/features/verifiedboot/boot-flow" target="_blank">here</a>.</p>
<p>This fingerprint is unique for each device and flavor(!) but won't change during updates (at least not without a notice).</p>

<p>Here are both ones for <i>{{ .codename }}</i>.</p>

<p><strong>If you see a different ID during boot you should immediately request <a href="{{ printf "%s" .docbaseurl }}#support" target="_blank">support</a> and stop using the device!</strong></p>

{{- if in .flavors "Regular" -}}
<h5>Regular build</h5>

{{ $filename := printf "content/devices/fp_%s_regular" .codename }}
{{ if fileExists $filename }}
  {{ $markdown := readFile $filename | markdownify }}
  {{ $markdown }}
{{ else }}
  <p>No fingerprint information available for this device?! Please contact <a href="{{ printf "%s" .docbaseurl }}#support" target="_blank">support</a>.</p>
{{ end }}
{{ end }}

{{- if in .flavors "Slim" -}}
<h5>Slim build</h5>

{{ $filename := printf "content/devices/fp_%s_slim" .codename }}
{{ if fileExists $filename }}
  {{ $markdown := readFile $filename | markdownify }}
  {{ $markdown }}
{{ else }}
  <p>No fingerprint information available for this device?! Please contact <a href="{{ printf "%s" .docbaseurl }}#support" target="_blank">support</a>.</p>
{{ end }}
{{ end }}

{{- else -}}
<p>Supported: <strong>no</strong></p>
{{- end -}}

<h3>XDA thread</h3>

<p>see <a href="{{ printf "%s" .xdalink }}" target="_blank">here</a></p>

<h3>Debugging</h3>

<p>DEVICE-BOOT-DEBUG-PATH: <code>{{ .debugbootpath }}</code> (see <a href="{{ printf "%s" .docbaseurl }}/Grab-Logs" target="_blank">Logs</a>)</p>
