<style>
  .button-link {
    background-color: #33300; /* Light grey */
    color: #333; /* Dark grey text */
    padding: 5px 10px; /* Smaller padding */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px; /* Smaller font size */
  }
</style>

<div class="hx-flex hx-w-full hx-flex-col hx-items-center sm:hx-items-start">
  <div class="hx-mt-6 hx-text-xs">© 2025-{{ dateFormat "2006" now }} The AXP.OS Project</div>
</div>

<div style="text-align: right;">
  <a href="/imprint" class="button-link">Imprint</a>
  <a href="/terms" class="button-link">Terms & Conditions</a>
  <a href="/privacy-policy" class="button-link">Privacy Policy</a>
</div>

